.box {

  background: #EEE8E7;

  box-shadow: 0px 15px 16.83px 0.17px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 0px 15px 16.83px 0.17px rgba(0, 0, 0, 0.05);
  -webkit-box-shadow: 0px 15px 16.83px 0.17px rgba(0, 0, 0, 0.05);
  -o-box-shadow: 0px 15px 16.83px 0.17px rgba(0, 0, 0, 0.05);
  -ms-box-shadow: 0px 15px 16.83px 0.17px rgba(0, 0, 0, 0.05);
  border-radius: 20px;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  -o-border-radius: 20px;
  -ms-border-radius: 20px;
 }

  .Form-daftar {

    padding-top: 75px;
    padding-bottom: 75px;
  }

.warna{
    background: #20c997;
}

  .main {
    background: #20c997;
    padding-top: 75px;
    padding-bottom: 100px;
  }

  .group-button{
    padding-bottom: 50px;

  }
